#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    min-height: 200px;
    color: #ffffff;
    background: #2c3e50;
}

main {
    margin-top: 76px;
}

@media (min-width: 1400px) {
    footer {
        background: #2c3e50 url("/logo.svg") no-repeat;
    }
}